/* html, body{
  scroll-behavior: smooth
} */

body{
  font-size:155%;
  font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
}

p {   /* p中英文换行 */
  word-wrap : break-word;  
}

nav.navbar{
  border-bottom: 1.5px solid rgb(194, 189, 189);
  margin-bottom: 40px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(48, 48, 48);
  background-color: #e7e7e7;
}

.nav-item{
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;
}


.nav-item:hover{
  color:rgb(48, 48, 48);
  background:#e7e7e7;
}

#btnScroll{  /*回到顶部按钮*/
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px; 
  color: black
}
