div#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

tspan{
    font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-weight:bold;
}

div.hot-data{
    margin-top: 2em;
    font-weight:bold;
}

div.hot-data ul{
    list-style-type: none; 
}
