{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->
{% load deal_from_url %}   <!-- 处理跨多页返回from_url时的累加问题 -->

{% block title %}
    balloon
{% endblock %}

{% block header_extend %}
    {% block meta_extend %}<meta http-equiv="refresh" content="50">{% endblock %}
    <link rel="stylesheet" href="{% static 'balloon/css/balloon.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'flipclock/flipclock.css' %}"> -->
    <script type="text/javascript" src="{% static 'balloon/js/balloon.js' %}"></script>
{% endblock  %}

{% block nav_balloon_active %}
    active
{% endblock %}

{% block content %}
<div id="background-image"></div>
<div class="container">
    <div class="row"> <!-- 标题 -->
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
            <h1 align="center">balloon hand out system(2019 ahu cpc)</h1>
            <br>
            <h4 align="center">
                Cached Last_status_id:&nbsp; <i>{{last_id}}</i> &nbsp;&nbsp;&nbsp; contest_id:&nbsp; <i><a href="http://ccpc.ahu.edu.cn/ContestProblemSet.aspx?cid={{contest_id}}">{{contest_id}}</a></i>
                &nbsp;&nbsp;&nbsp;
                {% if user.is_authenticated %}
                    <button type="button" onclick="set_para(this)" class="btn btn-danger btn-sm">reset</button>
                {% else %}
                    <button type="button" onclick="window.location.href='{% url 'login' %}?from={{ request.get_full_path | deal_from_url_fun1}}'" class="btn btn-primary btn-sm">login to reset</button>
                {% endif %}
            </h4><br>
            <h4 align="center">
                <span><img style="height:20px;" src="{% static 'balloon/balloon.png' %}" alt="balloon"></span>  
                {% if now_timestamp < cpc_start_timestamp %}
                    距离比赛开始还有 <span id="demo"></span>
                {% elif now_timestamp < cpc_end_timestamp %} 
                    比赛进行中，距离比赛结束还有 <span id="demo"></span>
                {% else %}
                    比赛已经结束！
                {% endif %}
                <span><img style="height:20px;" src="{% static 'balloon/balloon.png' %}" alt="balloon"></span>
            </h4>
        </div>
    </div><br>
    <div class="row">  <!-- 未处理 -->
      <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1"> <!-- 偏移一个单位 达到居中的效果 -->
            <h2 class="text-danger">未安排分发 (<span id="acnumber_1">{{ac_1 | length}}</span>)<span class="pull-right"><h4>赶紧啦ヾ(◍°∇°◍)ﾉﾞ</h4></span></h2>
            <table class="table table-striped table-hover">
                <tr id="table-1" class="danger">
                    <th>#</th>
                    <th>姓名</th>
                    <th>座位号</th>
                    <th>题号</th>
                    <th>选择送球人</th>
                    <th>操作</th>
                </tr>
                {% for item in ac_1 %}
                    <tr id="ac_detail_{{item.pk}}">
                        <td>{{item.pk}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.student_id}}</td>
                        <td>{{item.get_problem}}</td>    
                        <td>
                            <select class="form-control" name="worker" style="width:150px;">
                                {% for worker in workers %}
                                    <option>{{worker}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" onclick="change_status(this, {{item.pk}},1, 2)">Go !!!</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
      </div>
    </div><br>
    <div class="row">  <!-- 路上 -->
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1"> <!-- 偏移一个单位 达到居中的效果 -->
            <h2 class="text-info">正在路上 (<span id="acnumber_2">{{ac_2 | length}}</span>)<span class="pull-right"><h4>辛苦啦(#^.^#) </h4></span></h2>
            <table class="table table-striped table-hover">
                  <tr id="table-2" class="info">
                      <th>#</th>
                      <th>姓名</th>
                      <th>座位号</th>
                      <th>题号</th>
                      <th>送球人</th>
                      <th>操作</th>
                  </tr>
                  {% for item in ac_2 %}
                    <tr id="ac_detail_{{item.pk}}">
                        <td>{{item.pk}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.student_id}}</td>
                        <td>{{item.get_problem}}</td>
                        <td>{{item.deal_people}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" onclick="change_status(this, {{item.pk}}, 2, 1)">撤销至未安排</button>
                            <button type="button" class="btn btn-success btn-sm pull-right" onclick="change_status(this, {{item.pk}}, 2, 3)">你回来啦？点我完成！</button>
                        </td>
                    </tr>
                  {% endfor %}
            </table>
        </div>
    </div><br>
    <div class="row">  <!-- 已完成 -->
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1"> <!-- 偏移一个单位 达到居中的效果 -->
            <h2 class="text-success">已完成分发 (<span id="acnumber_3">{{ac_3 | length}}</span>)<span class="pull-right"><h4>再接再厉(๑′ᴗ‵๑)</h4></span></h2>
            <table class="table table-striped table-hover">
                  <tr id="table-3" class="success">
                      <th>#</th>
                      <th>姓名</th>
                      <th>座位号</th>
                      <th>题号</th>
                      <th>送球人</th>
                      <th>操作</th>
                  </tr>
                  {% for item in ac_3 %}
                    <tr id="ac_detail_{{item.pk}}">
                        <td>{{item.pk}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.student_id}}</td>
                        <td>{{item.get_problem}}</td>
                        <td>{{item.deal_people}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="change_status(this, {{item.pk}}, 3, 2)">撤销至正在路上</button>
                        </td>
                    </tr>
                  {% endfor %}
            </table>
        </div>
    </div>
</div>



<br><br><br><br>
<button type="button" id="btnScroll-1" class="btn btn-danger btn-lg" onclick=tostatus(1)> 
        待搞
</button>
<button type="button" id="btnScroll-2" class="btn btn-info btn-lg" onclick=tostatus(2)> 
        路上
</button>
<button type="button" id="btnScroll-3" class="btn btn-success btn-lg" onclick=tostatus(3)> 
        完成
</button>


<!-- para Modal -->
<div class="modal fade" id="para_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form id="para_modal_form" action="{% url 'set_para' %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>设置参数</b></h4>
                </div>

                <div class="modal-body">
                    <label for="last_id" class="control-label">last_id</label>
                    <input type="number" name="last_id" class="form-control" id="last_id" placeholder="{{last_id}}">
                    <label for="contest_id" class="control-label">contest_id</label>
                    <input type="number" name="contest_id" class="form-control" id="contest_id" placeholder="136">
                    <span id="para_medal_tip" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submit_para_button">设置</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


{%  endblock  %}



{% block script %}

<script type="text/javascript">
    {% if timestamp_for_js %}
        // Set the date we're counting down to
        var countDownDate = {{timestamp_for_js}};
        // Update the count down every 1 second
        var x = setInterval(function() {
            // Get todays date and time
            var now = new Date().getTime();
            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text 
            if (distance < 1) { //<1ms  刷新
                clearInterval(x);
                // document.getElementById("demo").innerHTML = "EXPIRED";
                window.location.reload();
            }
        }, 1000);
    {% endif %}
</script>

<script type="text/javascript">
    // 造一份format轮子 方便插入html代码
    String.prototype.format = function(){// '{0}+{1}'.format(a,b) = 'a+b'
        var str = this;
        for (var i = 0; i < arguments.length; i++) {
            var str = str.replace(new RegExp('\\{'+i+'\\}', 'g'), arguments[i])
        };
        return str;
    }

    // 使用ajax动态
    function change_status(obj, object_id, source_status, desti_status){
        var deal_people = $("#ac_detail_"+object_id +" option:selected").val()
        $.ajax({
            url: "{% url 'change_status' %}",
            type: 'GET',
            data:{
                ac_id: object_id,
                deal_people: deal_people,
                source_status: source_status,
                desti_status: desti_status,
            },
            cache:false,
            success: function(data){
                if(data['status']=='SUCCESS'){
                    $("#ac_detail_"+object_id).remove();
                    //console.log(object_id, data['name'], data['student_id'], data['problem_id'], data['deal_people'])
                    //console.log(data['workers'])
                    var tr_html = ["                    <tr id=\"ac_detail_{0}\">",
                                "                        <td>{0}</td>",
                                "                        <td>{1}</td>",
                                "                        <td>{2}</td>",
                                "                        <td>{3}</td>"].join("");
                    tr_html = tr_html.format(object_id, data['name'], data['student_id'], data['problem_id'])
                    var color = "black";
                    if(desti_status == 1){
                        color = "#f2dede";
                        var tr_html1 = ["                        <td>",
                                        "                            <select class=\"form-control\" name=\"worker\" style=\"width:150px;\">"].join("");
                        var tr_html2 = "";
                        for(var i=0;i<data['workers'].length;i++)
                        {
                            tr_html2 = tr_html2 + "<option>" + data['workers'][i].trim() + "</option>";
                        }
                        var tr_html3 = ["</select>",
                                        "                        </td>",
                                        "                        <td>",
                                        "                            <button type=\"button\" class=\"btn btn-danger btn-sm\" onclick=\"change_status(this, {0},1, 2)\">Go !!!</button>",
                                        "                        </td>",
                                        "                    </tr>"].join("");
                        tr_html3 = tr_html3.format(object_id);
                        tr_html = tr_html + tr_html1 + tr_html2 + tr_html3;
                    }
                    else if(desti_status == 2){
                        color = "#c4e3f3";
                        var tr_html1 = ["                        <td>{0}</td>",
                                        "                        <td>",
                                        "                            <button type=\"button\" class=\"btn btn-danger btn-sm\" onclick=\"change_status(this, {1}, 2, 1)\">撤销至未安排</button>",
                                        "                            <button type=\"button\" class=\"btn btn-success btn-sm pull-right\" onclick=\"change_status(this, {1}, 2, 3)\">你回来啦？点我完成！</button>",
                                        "                        </td>",
                                        "                    </tr>"].join("");
                        tr_html = tr_html + tr_html1.format(data['deal_people'], object_id);
                    }
                    else if(desti_status == 3){// 3
                        color = "#dff0d8";
                        var tr_html1 = ["                        <td>{0}</td>",
                                        "                        <td>",
                                        "                            <button type=\"button\" class=\"btn btn-info btn-sm\" onclick=\"change_status(this, {1}, 3, 2)\">撤销至正在路上</button>",
                                        "                        </td>",
                                        "                    </tr>"].join("");
                        tr_html = tr_html + tr_html1.format(data['deal_people'], object_id);
                    }
                    $("#table-"+desti_status).after(tr_html)
                    //数量-1  
                    var source_number = parseInt($("#acnumber_"+source_status).text())
                    $("#acnumber_"+source_status).html(source_number-1);
                    //+1
                    var desti_number = parseInt($("#acnumber_"+desti_status).text())
                    $("#acnumber_"+desti_status).html(desti_number+1);

                    //闪烁
                    liang($("#ac_detail_"+object_id), color)
                }
                else{
                    console.log(data['code']+"  "+data['message']);
                }
            },
            error: function(xhr){
                console.log(xhr)
            }
        });
    }

      // 闪烁 obj对象
    function liang(obj, color){
        var Flag = false;
        var time = 0;
        //闪烁
        setTimeout(init, 500);
        function init(){
            for(var i=0;i<4;i++)
            {
                time+=100;
                setTimeout(function()
                {
                    modify_p();                
                },time);    
            }
        }
        function modify_p(){
            Flag=!Flag;
            if(Flag){obj.css("background", color)}
            else{obj.css("background","")}
        }
    }
</script>

<script type="text/javascript">
    function set_para(obj){
        $('#para_modal').modal('show');
    }
    $("#submit_para_button").click(function(){
        var lid = $('#last_id').val();
        var cid = $('#contest_id').val();
        if (lid == '') {
            alert("last_id不能为空！");
            return false;
        }
        if (cid == '') {                
            alert("contest_id不能为空！");                
            return false;
        }
        if (parseInt(lid) < 0 ){
            alert("last_id要为正数！");
            return false;
        }
        if (parseInt(cid) > 1000 ){
            alert("contest_id 过大！");
            return false;
        }
    });
</script>

{% endblock  %}
