ul.article-info-description{
    list-style-type: none;
    text-align: center;
    margin-top: 1.5em;
}

ul.article-info-description li{
    display: inline-block;
    margin-right: 1.8em;
}

div.article-content{
    /* text-indent: 2em;   首行缩进两个字符 */
    margin-bottom: 3em;
    margin-top: 3em;
} 

div.article-more{
    font-weight:bold;
}

div.comment-area, div.comment-list{
    margin-bottom:2em;
    /* border:1px dashed; */
    padding:2em;
}

h3.comment-title{
    border-bottom: 1px solid rgb(126, 126, 126);
    padding-bottom: 0.4em;
    font-weight:bold;
}

span.like{
    color: #337ab7;
    cursor: pointer;
}

span.like.active{
    color:rgb(248, 129, 129);
}