{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->
{% load deal_from_url %}   <!-- 处理跨多页返回from_url时的累加问题 -->

{% block title %}
    登录
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock  %}

{% block nav_login_active %}
    active
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>登录<a class="pull-right" href="{% url 'register' %}?from={{ request.get_full_path | deal_from_url_fun1 }}"> 还没账号?点此注册</a></b></h3>
                        </div>
                        <div class="panel-body">
                                <form action="" method="POST"> 
                                    <!-- 这里action为空很关键 就能保留上一步的页面链接了 -->
                                    {% csrf_token %}
                                    {% for field in login_form %}
                                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                                        {{field}}
                                        <p class="text-danger">{{field.errors.as_text}}</p>
                                        <br>
                                    {% endfor %}
                                    <span class="pull-left text-danger">{{login_form.non_field_errors}}</span>
                                    <div class="clearfix"></div>
                                    <a class="pull-left text-danger" href="{% url 'forgot_password' %}">忘记密码?点此重置</a>
                                    <input type="submit" value="登录" class="btn btn-primary pull-right">
                                </form>
                        </div>
                    </div>
                {% else %}
                    <h2 style="text-align:center;">您已登录，即将跳转至首页...</h2>
                    <script type="text/javascript">
                        var timeout = setTimeout(function () {
                            window.location.href = '/';
                        },1000)
                    </script>
                {% endif %}
        </div>
    </div>
</div>



{% endblock  %}



