{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    注册
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'user/css/register.css' %}">
{% endblock  %}

{% block nav_register_active %}
    active
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            {% if not user.is_authenticated %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>注册</b></h3>
                    </div>
                    <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in reg_form %}
                                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                                    {{field}}
                                    <p class="text-danger">{{field.errors.as_text}}</p>
                                    <br>
                                {% endfor %}
                                <span class="pull-left text-danger">{{reg_form.non_field_errors}}</span>
                                <input type="submit" value="注册" class="btn btn-primary pull-right">
                            </form>
                    </div>
                </div>
            {% else %}
                <h2 style="text-align:center;">您已登录，即将跳转至首页...</h2>
                <script type="text/javascript">
                    var timeout = setTimeout(function () {
                        window.location.href = '/';
                    },1000)
                </script>
            {% endif %}
        </div>
    </div>
</div>
<br>

{% endblock  %}



