{% extends 'base.html' %}
{% load staticfiles %}   <!-- 虽然extends了 但还是要加上 -->

{% block title %}
    注册
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'user/css/register.css' %}">
{% endblock  %}

{% block nav_register_active %}
    active
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            {% if not user.is_authenticated %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>注册</b></h3>
                    </div>
                    <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in reg_form %}
                                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                                    {{field}}
                                    <p class="text-danger">{{field.errors.as_text}}</p>
                                    <br>
                                {% endfor %}
                                <span id="error-tip" class="text-danger">{{reg_form.non_field_errors}}</span>
                                <div class="clearfix"></div>
                                <button type="button" id="send_code" class="btn btn-danger pull-left">发送验证码</button>
                                <input type="submit" value="注册" class="btn btn-primary pull-right">
                            </form>
                    </div>
                </div>
            {% else %}
                <h2 style="text-align:center;">您已登录，即将跳转至首页...</h2>
                <script type="text/javascript">
                    var timeout = setTimeout(function () {
                        window.location.href = '/';
                    },1000)
                </script>
            {% endif %}
        </div>
    </div>
</div>
<br>

{% endblock  %}

{% block script %}
<script type="text/javascript">
    $("#send_code").click(function(){
        var email = $("#id_email").val();
        if(email==""){
            $("#error-tip").text("邮箱不能为空！")
            $(".clearfix").html("<br>") //换行
            var timeout = setTimeout(function () {
                $("#error-tip").text("");
                $(".clearfix").html(""); //换行                            
                        },1000)
            return false;
        }

        //发送验证码
        $.ajax({
            url: "{% url 'send_verification_code' %}",
            type: "GET",
            data:{
                'email':email,
                'send_for': 'register_code',
            },
            // async: false, 
            cache: false,
            success: function(data){
                if(data['status']=='SUCCESS'){//发送成功
                    $("#error-tip").text("");
                    var timeout = setTimeout(function () {
                        $("#error-tip").text("已发送 请查看邮件");
                        $(".clearfix").html("<br>"); //换行                     
                    },700)
                }else{
                    alert(data['status'])
                }
            },
            error: function(xhr){
                console.log(xhr)
            }
        });

        //把按钮变灰
        $(this).addClass('disabled');
        $(this).attr('disabled',true);
        var time = 60;
        $(this).text(time+'s');
        var interval = setInterval(() => {
            if(time<=0){
                clearInterval(interval);
                $(this).removeClass('disabled');
                $(this).attr('disabled',false);
                $(this).text('发送验证码');
                return false;
            }
            time--;
            $(this).text(time+'s');
        }, 1000);
    });
</script>
{% endblock  %}




